<div class="action-popup sm-popup hidden action-popup--{{position}}">
    {{#each actions}}
        <button class="action-popup__item">
            {{#if icon}}
                <img class="action-popup__item-icon" src="{{icon}}">
            {{else if class}}
                <i class="action-popup__item-icon {{class}}"></i>
            {{/if}}
            <span>{{text}}</span>
        </button>
    {{/each}}
</div>
