<div class="popup hidden">
    <div class="popup__wrap{{#if class}} {{class}}{{/if}}">
        <span class="popup__close"></span>
        <p class="popup__title">{{title}}</p>
        <form class="popup__form">
            {{#if field}}
                {{{Field
                    label=field.label
                    name=field.name
                    type=field.type
                    class=field.class
                    accept=field.accept
                    onInputField=field.onInputField
                    isTopLabelPosition=field.isTopLabelPosition
                }}}
            {{/if}}
            {{#ifEquals innerComponentName 'UsersList'}}
                <div class="popup__inner-component-wrap">
                    {{{UsersList ref="UsersList"}}}
                </div>
            {{/ifEquals}}
            <div class="popup__form-btn-wrap">
                {{{Button text=btnText onClick=onBtnClick}}}
            </div>
            <p class="popup__error">
                {{field.error}}
            </p>
        </form>
    </div>

    <div class="popup__overlay"></div>
</div>
