<div class="message {{#ifEquals senderId 1}}message--right{{/ifEquals}}{{#if date}}message--with-date{{/if}}">
    {{#if date}}
    <time class="message__date">{{date}}</time>
    {{/if}}

    {{#if text}}
    <div class="message__content message__content--text">
        <p class="message__text">{{{text}}}</p>
        <div class="message__time">
            {{#ifEquals senderId 1}}
            <svg {{#isViewed}}class="stroke-color-primary"{{/isViewed}} viewBox="0 0 15 7" width="15" height="7"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path transform="matrix(.70593 .70828 -.70593 .70828 .049 3)" stroke="#999999" d="M0-.5h5.647" />
                <path transform="matrix(.70593 -.70828 .70593 .70828 4.036 7)" stroke="#999999" d="M0-.5h8.471" />
                <path transform="matrix(.70593 -.70828 .70593 .70828 8.022 7)" stroke="#999999" d="M0-.5h8.471" />
            </svg>
            {{/ifEquals}}
            <span>{{time}}</span>
        </div>
    </div>
    {{else}}
    <div class="message__content">
        <div class="message__img">
            <img src="{{img}}" alt="message-img">
        </div>
        <span class="message__time message__time--img">{{time}}</span>
    </div>
    {{/if}}
</div>
