<div class="found-users-list">
    <ul class="found-users-list__list">
        {{#if foundUsers}}
            {{#each foundUsers}}
                <li class="found-users-list__item">
                    <img src="
                        {{#if userAvatar}}
                            {{resourcesPath}}{{avatar}}
                        {{else}}
                            {{{mockAvatarImg}}}
                        {{/if}}" alt="avatar" class="found-users-list__avatar">
                    <p class="found-users-list__name">
                        {{login}}
                    </p>
                </li>
            {{/each}}
        {{else unless initState}}
            <p>Пользователи не найдены</p>
        {{/if}}
    </ul>
</div>
