<div class="found-users-list">
    <ul class="found-users-list__list">
        {{#each foundUsers}}
            <li class="found-users-list__item">
                <img src="
                    {{#if userAvatar}}
                        {{resourcesPath}}{{avatar}}
                    {{else}}
                        {{{mockAvatarImg}}}
                    {{/if}}" alt="avatar" class="found-users-list__avatar">
                <p class="found-users-list__name">
                    {{login}}
                </p>
            </li>
        {{/each}}
    </ul>
</div>
