<main class="messenger">
    <aside class="messenger__sidebar">
        <div class="messenger__sidebar-header">
            <div class="messenger__account">
                <div class="messenger__account-avatar-wrap">
                    {{#if accountAvatar}}
                        <img src="{{resourcesPath}}{{accountAvatar}}" alt="avatar">
                    {{/if}}
                </div>

                <div class="messenger__account-link-wrap">
                    {{#Link to="/account"}}
                        Профиль
                        <span class="arrow-right-icon"></span>
                    {{/Link}}
                </div>

                <div class="messenger__account-create-chat">
                    {{{Button text="Создать чат" onClick=onCreateChatBtnClick}}}
                </div>
            </div>

            {{#if chatList}}
                <form class="messenger__search-form">
                    {{{Field
                        label="Поиск"
                        name="search"
                        type="text"
                        class="field--search"
                        icon=searchFieldIcon
                    }}}
                </form>
            {{/if}}
        </div>

        <ul class="messenger__chat-list">
            {{#each chatList}}
                {{{ChatListItem chatData=this}}}
            {{/each}}
        </ul>
    </aside>

    <section class="messenger__main-content">
        {{{Chat}}}
    </section>

    {{{Popup
        title=createChatPopup.title
        class=createChatPopup.class
        btnText=createChatPopup.btnText
        field=createChatPopup.field
        onSend=createChatPopup.onSend
        innerComponentName=createChatPopup.innerComponentName
    }}}
</main>
