<div class="chat">
    {{#if selectedChat}}
        <div class="chat__header">
            {{{ChatHeader chatImg=chatImg chatName=chatName}}}
        </div>

        <div class="chat__content">
            {{#each messages}}
                {{#if date}}
                    <time class="chat__content-block-date">{{date}}</time>
                {{/if}}
                {{{Message
                    currentUserId=../currentUserId
                    senderId=user_id
                    content=content
                    file=file
                    time=time
                    isViewed=is_read
                }}}
            {{/each}}
        </div>

        <div class="chat__send-wrap">
            {{{SendForm}}}
        </div>
    {{else}}
        <div class="chat__empty">
            Выберите чат чтобы отправить сообщение
        </div>
    {{/if}}
</div>
