<label class="field {{class}}">
    {{{Input type=type name=name value=value isDisable=isDisable onFocus=onFocus onBlur=onBlur onInput=onInput onChange=onChange class="field__input"}}}
    {{#if icon}}
        <img src="{{icon}}" class="field__icon" alt="input-icon">
    {{/if}}
    <span class="field__title">
        {{label}}
    </span>
    <div class="field__error">
        {{{ErrorMessage ref="errorMessage" isValid=true text="Ошибка"}}}
    </div>
</label>
