<div class="account-header">
    <div class="account-header__img-wrap open-popup">
        <img src="
            {{#if userAvatar}}
                {{resourcesPath}}{{avatar}}
            {{else}}
                {{{mockAvatarImg}}}
            {{/if}}" alt="avatar" class="account-header__avatar" />
        <div class="account-header__overlay">
            <p>Поменять аватар</p>
        </div>
    </div>
    <div class="account-header__name">
        {{accountName}}
    </div>
</div>
