<li class="chat-list-item{{#ifEquals selectedChat.id id}} chat-list-item--active{{/ifEquals}}">
    {{{Avatar
        class="chat-list-item__avatar-wrap"
        avatar=avatar
        alt="chat-avatar"
    }}}

    <div class="chat-list-item__content-wrap">
        <h3 class="chat-list-item__title">{{title}}</h3>
        <p class="chat-list-item__content">
            {{#ifEquals currentUserLogin login}}
                <span class="color-primary">Вы:</span>
            {{/ifEquals}}
            {{content}}
        </p>
    </div>

    <div class="chat-list-item__info">
        <time class="chat-list-item__time">{{time}}</time>
        {{#if unread_count}}
            <div class="chat-list-item__unread_count">{{unread_count}}</div>
        {{/if}}
    </div>
</li>
