<div class="chat-header">
    <div class="chat-header__title-wrap">
        {{{Avatar
            class="avatar--interactive chat-header__avatar-wrap"
            avatarSrc=selectedChat.avatar
            alt="account-avatar"
            onClick=addChatAvatar
        }}}
        <div class="chat-header__title">{{selectedChat.title}}</div>
    </div>

    <div class="chat-header__actions-wrap">
        <div class="chat-header__action-btn open-sm-popup dotted-btn">
            {{{Button class="btn--reset" onClick=onOpenActionPopupBtnClick}}}
        </div>

        {{{ActionPopup
            position="down"
            actions=adminActions
            ref="actionPopup"
        }}}

        {{{Popup
            ref=addUserToChatPopup.ref
            innerComponentName=addUserToChatPopup.innerComponentName
            title=addUserToChatPopup.title
            class=addUserToChatPopup.class
            btnText=addUserToChatPopup.btnText
            field=addUserToChatPopup.field
            onSend=addUserToChatPopup.onSend
        }}}

        {{{Popup
            ref=removeUserPopup.ref
            innerComponentName=removeUserPopup.innerComponentName
            title=removeUserPopup.title
            class=addUserToChatPopup.class
            btnText=removeUserPopup.btnText
            field=removeUserPopup.field
            onSend=removeUserPopup.onSend
        }}}

        {{{Popup
            ref=addChatAvatarPopup.ref
            title=addChatAvatarPopup.title
            btnText=addChatAvatarPopup.btnText
            field=addChatAvatarPopup.field
            onSend=addChatAvatarPopup.onSend
        }}}
    </div>
</div>
