<div class="{{class}} {{#unless avatar}}bg-grey-lighter{{/unless}}">
    {{#if avatar}}
        <img src="{{resourcesPath}}{{avatar}}" alt="{{alt}}">
    {{else if isMockedAvatar}}
        <img src="{{{mockAvatarImg}}}" alt="{{alt}}">
    {{/if}}
</div>
