<div class="avatar {{class}} {{#unless avatarSrc}}bg-grey-lighter{{/unless}}">
    {{#if avatarSrc}}
        <img src="{{resourcesPath}}{{avatarSrc}}" alt="{{alt}}">
    {{else if isMockedAvatar}}
        <img src="{{{mockAvatarImg}}}" alt="{{alt}}">
    {{/if}}
</div>
